@import '~styles/variables';
@import '~styles/utilities/mixins';

.sky-gallery {
	.gallery {
		list-style-type: none;
		margin-left: 0;
		padding-left: 0;
		display: flex;
		flex-wrap: wrap;
		margin-bottom: 0;

		& > li {
			position: relative;
			cursor: pointer;
			transition: opacity .3s $CubicInOut;
			overflow: hidden;
			margin-left: 0;

			&:nth-of-type(n+3) {
				@include grid(margin-top, 1, 0, 10);
			}

			&:nth-of-type(n+4) {
				@include grid(margin-top, 1, 10);
			}
		}
	}

	.sky-crop {
		width: 600px;
		height: 440px;

		&:before {
			@include grid(background-size, 1.25);
			content: '';
			color: #fff;
			display: block;
			position: absolute;
			top: -5px;
			right: -5px;
			bottom: -5px;
			left: -5px;
			z-index: 5;
			background-color: transparentize($color-1, 1);
			background-image: url('~static/cross.svg');
			background-repeat: no-repeat;
			background-position: center;
			opacity: 0;
			pointer-events: none;
			transition: all 0.3s;
		}

		@include hover {
			&:before {
				background-color: transparentize($color-1, 0.2);
				opacity: 1;
			}
		}
	}
}
